#modal-background {
    z-index: 1000;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: 0.45;
}

#modal-container {
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal {
    position: absolute;
    z-index: 2000;
    background-color: var(--main-bg-color);
    opacity: 1;
    width: 40vw;
    height: 40vh;
    max-width: var(--modal-max-width);
    max-height: var(--modal-max-height);
    min-width: var(--modal-min-width);
    min-height: var(--modal-min-height);
    border-radius: var(--md-border-radius);
    border: var(--md-border-width) solid var(--light-border-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: var(--lg-spacing);
    overflow: hidden;
    flex-grow: 1;
}

#modal-title {
    margin: 0px;
    margin-bottom: var(--sm-spacing);
    height: var(--header-height);
}

#modal-body {
    flex-grow: 1;
    overflow-y: scroll;
}

#modal-close-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: var(--sm-spacing);
    margin-right: var(--sm-spacing);
    padding: 0px;

    &:hover {
        background-color: var(--main-bg-color-hover);
    }
}
