.sidebar {
    height: 100%;
    display: flex;
}

.sidebar-right > .sidebar-resizer {
    order: -1;
}

.sidebar-content {
    width: 100%;
    height: 100%;
}

.sidebar-resizer {
    height: 100%;
    width: 3px;
    position: relative;
    background-color: transparent;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -3px;
        right: -3px;
        bottom: 0;
        background-color: transparent;
    }

    &:hover {
        background-color: var(--accent);
    }
}
