.canvas-toolbar {
    position: relative;
    display: flex;
    width: min-content;
    background-color: var(--main-bg-color);
    box-shadow: var(--lg-box-shadow);
    padding: 1px;
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--md-border-radius) + 1px);
    z-index: 10;
}

.node {
    translate: -50% calc(-100% - var(--md-spacing));
}

.edge {
    /* translate: -50% -50%; */
}

.canvas-toolbar > .nav-icon-container {
    padding: var(--sm-spacing);
    border-radius: 0;
}

.canvas-toolbar button:last-of-type {
    border-radius: 0 var(--md-border-radius) var(--md-border-radius) 0;
}

.canvas-toolbar button:first-of-type {
    border-radius: var(--md-border-radius) 0 0 var(--md-border-radius);
}

.canvas-toolbar > .nav-icon-container:hover {
    background-color: var(--main-bg-color-hover);
}
