.color-picker {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    box-shadow: var(--md-box-shadow);
    translate: 0 150%;
    border-radius: var(---border-radius);
}

.color-picker-item {
    width: calc(var(--md-icon-size) - 4px);
    height: calc(var(--md-icon-size) - 4px);
    border-radius: 50%;
}

.color-picker-item:not(:last-child) {
    margin-right: var(--sm-spacing);
}
