.card-node {
    display: flex;
    padding: var(--md-spacing);
    box-shadow: 0px 0px 0px var(--xl-border-width) var(--lt-border-color);
    background-color: var(--dark-bg-color);
    border-radius: var(--md-border-radius);
    min-width: var(--default-node-width);
    min-height: var(--default-node-height);
    box-sizing: border-box;
}

.card-node.selected {
    position: relative;
    box-shadow: 0px 0px 0px calc(var(--xl-border-width) * 2) var(--accent);
}

/* .card-node.selected::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-width: calc(var(--xl-border-width) * 2);
    border-color: var(--accent);
    box-sizing:
    /* background-color: var(--accent); */
} */
