body {
    /* background colors */
    --dark-bg-color: rgb(30, 30, 30);
    --dark-bg-color-hover: rgb(40, 40, 40);
    --main-bg-color: rgb(38, 38, 38);
    --main-bg-color-hover: rgb(48, 48, 48);
    --light-bg-color: rgb(54, 54, 54);
    --light-bg-color-hover: rgb(64, 64, 64);
    --red: rgb(251, 70, 76);
    --accent: rgb(168, 130, 255);

    /* fonts */
    --sm-font-size: 13px;
    --primary-font-color: rgb(218, 218, 218);

    /* layout sizes */
    --header-height: 40px;
    --sidebar-width: 46px;
    --modal-max-width: 600px;
    --modal-max-height: 400px;
    --modal-min-width: 300px;
    --modal-min-height: 200px;

    --default-node-width: 360px; /* update .ts file */
    --default-node-height: 120px; /* update .ts file */
    --min-card-node-width: 25px; /* update .ts file */
    --min-card-node-height: 25px; /* update .ts file */
    --intro-node-width: 260px;
    --intro-node-height: 100px;
    --intro-node-color: rgba(168, 130, 255, 0.2);

    --default-card-node-width: 360px;
    --default-card-node-height: 120px;
    --default-note-node-width: 400px;
    --default-note-node-height: 400px;
    --default-image-node-width: 400px;
    --default-image-node-height: 400px;

    --sm-spacing: 8px;
    --md-spacing: 14px;
    --lg-spacing: 20px;
    --xl-spacing: 32px;
    --sm-icon-size: 13px;
    --md-icon-size: 18px;
    --lg-icon-size: 24px;

    /* borders */
    --dk-border-color: rgb(55, 55, 55);
    --md-border-color: rgb(85, 85, 85);
    --lt-border-color: rgb(155, 155, 155);
    --lg-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    --md-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px;

    --sm-border-width: 0.5px;
    --md-border-width: 1px;
    --lg-border-width: 1.5px;
    --xl-border-width: 2px;

    --sm-border-radius: 4px;
    --md-border-radius: 8px;
    --lg-border-radius: 12px;
}

body {
    margin: 0;
    /* font-family: '' */
    font-family: 'Open Sans', sans-serif;
    font-weight: thin;
    color: var(--primary-font-color);
    background-color: var(--main-bg-color);
}

#app-wrapper {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
