#navbar-wrapper {
    height: calc(100% - var(--header-height));
    width: calc(var(--sidebar-width) - var(--md-border-width));
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: var(--md-border-width) solid var(--light-bg-color);
    background-color: var(--main-bg-color);
}

#navbar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--sm-spacing);
}

#navbar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--sm-spacing);
}

.navbar-icon {
    margin-top: calc(var(--sm-spacing) / 2);
    margin-bottom: calc(var(--sm-spacing) / 2);

    &:hover {
        background-color: var(--main-bg-color-hover);
    }
}
